
.nav{
    display: inline;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;


}

/* Footer */
footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 5px 0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Lato', sans-serif, 'Arial';
    font-size: 20px;
}

/* Navigation */
header {
    background: #2c3e50;
    padding: 15px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 10px 15px;
    transition: 0.3s;
}


.SocialMedia img {
    width: 30px;
    height: 30px;
    margin: 10px;
    transition: transform 0.3s;
}

.SocialMedia img:hover {
    transform: scale(1.2);
}



header{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;

}
